@import "react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


*, html, body{
    font-family: 'Cairo', Arial, sans-serif;
    
}
#searchInput{
    transition: width 200ms ease-in;
    
}
label{
    text-align: right;
    float: right;
}
.image-gallery-svg{
    width: 30px!important;

}
.image-gallery-image{
    width: 100%!important;
    height: 25rem!important;
    object-fit: fill!important
}
.image-gallery-thumbnail-image{
    width: 6rem!important;
    height: 4.5rem!important;
}
/* .image-gallery-slides{
    height: 29rem!important;
    width: 100%;
    object-fit: cover!important;
    border-radius: 10px;
    border: 2px red solid ;
} */