@import "react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


*, html, body{
    font-family: 'Cairo', Arial, sans-serif;
    
}
#searchInput{
    transition: width 200ms ease-in;
    
}
label{
    text-align: right;
    float: right;
}
.image-gallery-svg{
    width: 30px!important;

}